@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Pacifico&display=swap');

:root {
  --default-padding: 50px
}

body {
  padding: 0;
  margin: 0;
  color: whitesmoke;
  background-color: #302868;
  height: 100vh;
  font-family: 'Fredoka', sans-serif;
}

.back-button {
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  border: 1px dashed darkgoldenrod;
  border-radius: 8px;
  padding: 0.5em;
  cursor: pointer;
}

.back-button:hover {
  background-color: #5d4201;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: var(--default-padding);
  padding: var(--default-padding);
  height: calc(100% - (2 * var(--default-padding)));
}

.table__cell {
  border: 1px dashed darkgoldenrod;
  position: relative;
}

.table__cell__tooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.56);
  color: whitesmoke;
  text-align: center;
  padding: 8px 6px;
  position: absolute;
  right: -40px;
  top: -20px;
  z-index: 1;
}

.table__cell:hover .table__cell__tooltip {
  visibility: visible;
}
