@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Pacifico&display=swap');

body {
  padding: 10% 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #302868;
  color: whitesmoke;
  font-family: 'Fredoka', sans-serif;
}

a {
  color: darkgoldenrod;
}

h1 {
  font-family: 'Pacifico', cursive;
}
