@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  padding: 0;
  margin: 0;
  color: whitesmoke;
  background-color: #302868;
}

.back-button {
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  border: 1px dashed darkgoldenrod;
  border-radius: 8px;
  padding: 0.5em;
  cursor: pointer;
}

.back-button:hover {
  background-color: #5d4201;
}

.center-div {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  text-align: center;
}

.center-div__child {
  border: 1px dashed darkgoldenrod;
  padding: 0.5em;
}

.center-div__child__text {
  font-family: 'Pacifico', cursive;
  font-size: 2em;
}
